extends ../shared/template

block content
  h1= title
  h5 NodeHotel puts hosts together with guests,
  h3 all with the blazing asynchronous speed of NodeJS!
  h5 Marvel at how quickly you can find somewhere to stay, reach out to your future host, and pay them with your credit card. Hit the Register button up top to sign up as either a Guest or a Host and begin your NodeHotel journey!
